html {
	font-family: @font--base;
	line-height: 1.5em;
	font-size: @font-size-base;
	color: @text-color--medium;
}

label {
	font-weight: normal;
}

a {
	color: @link-color;
}

textarea {
	&:focus {
		outline: none;
	}
}

b {
	font-family: @font--bold;
}


small {
	font-size: 85%;
}

cite {font-style: normal;}


q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
}
